.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar
/kodilla-good-patterns/build/
/kodilla-rsp/build/
/kodilla-exception/build/
/kodilla-spring/build/
/kodilla-jdbc/build/
/kodilla-testing2/out/
/kodilla-hibernate/build/
/kodilla-patterns/build/
/kodilla-spring-intro/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/